<!-- <div class="col-3">
	<div class="hvrbox">
		<img src="<%= movie.photo.medium.url %>" alt="Mountains" class="hvrbox-layer_bottom">
		<div class="hvrbox-layer_top">
			<div class="hvrbox-text">
			    <div class="text">           	
			    	<p class="textM"><span><%=  t('.Title') %>: </span> <%= movie.title %></p>
			        <p class="textM"><span><%=  t('.Description') %>: </span><%= movie.description %></p>
			        <p class="textM"><span><%=  t('.Genre') %>: </span><%= movie.genre %></p>
			        <p class="textM"><span><%=  t('.Starring') %>: </span><%= movie.starring %></p>			        
			        <p class="textM"><span><%=  t('.Year') %>: </span><%= movie.year %></p>
			    </div>
			</div>
		</div>
	</div>
		      <%= link_to t('.edit_link'), edit_movie_path(movie) %>
</div>
 -->

